<section class="section">
  <div class="container">
    <div class="adv-con">
      <h2 class="visually-hidden">Advertisement</h2>
      <p class="adv-text">
        Choose <span class="adv-text-color">your story</span>, making every
        moment unique. Time is your style, and we reveal it.
      </p>
      <a href="#contact-us" class="adv-contact">
        <button type="button" class="adv-btn">
          <span class="adv-btn-text">Contact Us</span>
        </button>
      </a>
    </div>
  </div>
</section>
