<section class="catalog">
  <div class="container section-catalog">
    <h2 class="catalog-title">Catalog</h2>
    <ul class="catalog-list">
      <li class="catalog-item">
        <picture class="catalog-picture">
          <source
            srcset="
              ./img/catalog.img/catalog1.png    1x,
              ./img/catalog.img/catalog1-2x.png 2x
            "
            media="(min-width:1280px)"
          />
          <source
            srcset="
              ./img/catalog.img/catalog1-tab.png    1x,
              ./img/catalog.img/catalog1-tab-2x.png 2x
            "
            media="(min-width:768px)"
          />
          <source
            srcset="
              ./img/catalog.img/catalog1-mob.png    1x,
              ./img/catalog.img/catalog1-mob-2x.png 2x
            "
            media="(max-width:375px)"
          />
          <img
            src="./img/catalog.img/catalog1.png"
            alt="photo"
            width="292"
            height="292"
          />
        </picture>
        <div class="catalog-text">
          <h3 class="catalog-name">Garmin Fenix 7X Pro Sapphire Solar</h3>
          <p class="catalog-price">€500</p>
        </div>
      </li>
      <li class="catalog-item">
        <picture class="catalog-picture">
          <source
            srcset="
              ./img/catalog.img/catalog2.png    1x,
              ./img/catalog.img/catalog2-2x.png 2x
            "
            media="(min-width:1280px)"
          />
          <source
            srcset="
              ./img/catalog.img/catalog2-tab.png    1x,
              ./img/catalog.img/catalog2-tab-2x.png 2x
            "
            media="(min-width:768px)"
          />
          <source
            srcset="
              ./img/catalog.img/catalog2-mob.png    1x,
              ./img/catalog.img/catalog2-mob-2x.png 2x
            "
            media="(max-width:375px)"
          />
          <img
            src="./img/catalog.img/catalog2.png"
            alt="photo"
            width="292"
            height="292"
          />
        </picture>
        <div class="catalog-text">
          <h3 class="catalog-name">Garmin Marq Athlete</h3>
          <p class="catalog-price">€450</p>
        </div>
      </li>
      <li class="catalog-item">
        <picture class="catalog-picture">
          <source
            srcset="
              ./img/catalog.img/catalog3.png    1x,
              ./img/catalog.img/catalog3-2x.png 2x
            "
            media="(min-width:1280px)"
          />
          <source
            srcset="
              ./img/catalog.img/catalog3-tab.png    1x,
              ./img/catalog.img/catalog3-tab-2x.png 2x
            "
            media="(min-width:768px)"
          />
          <source
            srcset="
              ./img/catalog.img/catalog3-mob.png    1x,
              ./img/catalog.img/catalog3-mob-2x.png 2x
            "
            media="(max-width:375px)"
          />
          <img
            src="./img/catalog.img/catalog3.png"
            alt="photo"
            width="292"
            height="292"
          />
        </picture>

        <div class="catalog-text">
          <h3 class="catalog-name">Garmin Descent MK1</h3>
          <p class="catalog-price">€680</p>
        </div>
      </li>
      <li class="catalog-item">
        <picture class="catalog-picture">
          <source
            srcset="
              ./img/catalog.img/catalog4.png    1x,
              ./img/catalog.img/catalog4-2x.png 2x
            "
            media="(min-width:1280px)"
          />
          <source
            srcset="
              ./img/catalog.img/catalog4-tab.png    1x,
              ./img/catalog.img/catalog4-tab-2x.png 2x
            "
            media="(min-width:768px)"
          />
          <source
            srcset="
              ./img/catalog.img/catalog4-mob.png    1x,
              ./img/catalog.img/catalog4-mob-2x.png 2x
            "
            media="(max-width:375px)"
          />
          <img
            src="./img/catalog.img/catalog4.png"
            alt="photo"
            width="292"
            height="292"
          />
        </picture>

        <div class="catalog-text">
          <h3 class="catalog-name">Garmin D2 Delta PX</h3>
          <p class="catalog-price">€380</p>
        </div>
      </li>
      <li class="catalog-item-none">
        <picture class="catalog-picture">
          <source
            srcset="
              ./img/catalog.img/catalog5.png    1x,
              ./img/catalog.img/catalog5-2x.png 2x
            "
            media="(min-width:1280px)"
          />
          <source
            srcset="
              ./img/catalog.img/catalog5-tab.png    1x,
              ./img/catalog.img/catalog5-tab-2x.png 2x
            "
            media="(min-width:768px)"
          />
          <source
            srcset="
              ./img/catalog.img/catalog5-mob.png    1x,
              ./img/catalog.img/catalog5-mob-2x.png 2x
            "
            media="(max-width:375px)"
          />
          <img
            src="./img/catalog.img/catalog5.png"
            alt="photo"
            width="292"
            height="292"
          />
        </picture>

        <div class="catalog-text">
          <h3 class="catalog-name">Garmin Fenix 6 Pro Solar</h3>
          <p class="catalog-price">€400</p>
        </div>
      </li>
      <li class="catalog-item-none">
        <picture class="catalog-picture">
          <source
            srcset="
              ./img/catalog.img/catalog6.png    1x,
              ./img/catalog.img/catalog6-2x.png 2x
            "
            media="(min-width:1280px)"
          />
          <source
            srcset="
              ./img/catalog.img/catalog6-tab.png    1x,
              ./img/catalog.img/catalog6-tab-2x.png 2x
            "
            media="(min-width:768px)"
          />
          <img
            src="./img/catalog.img/catalog6.png"
            alt="photo"
            width="292"
            height="292"
          />
        </picture>
        <div class="catalog-text">
          <h3 class="catalog-name">
            Tube Watch S42 Date Steel With Black Case
          </h3>
          <p class="catalog-price">€395</p>
        </div>
      </li>
    </ul>
    <button type="button" class="catalog-button">Show more</button>
  </div>
</section>
