<section id="contacts-us" class="contacts-us-container">
  <div class="container">
    <h2 class="contscts-title">Contact Us</h2>
    <div class="contacts-container">
      <form class="contacts-form" name="fedback-form" autocomplete="off">
        <div class="container-form">
          <p class="contacts-form-text">
            Please use the form below to contact us. Enter your name, email, phone, and message and we'll get back to
            you shortly.
          </p>
          <input class="contacts-form-input" type="text" name="username" placeholder="Name">
          <input class="contacts-form-input" type="text" name="usermail" placeholder="Email">
          <input class="contacts-form-input" type="text" placeholder="+380">
          <textarea class="contacts-form-textarea" name="usercomment" cols="30" rows="10"
            placeholder="Comment"></textarea>
          <button class="contacts-btn" type="submit">Send</button>
        </div>
      </form>
      <picture class="contacts-picture">
        <source srcset="./img/img/1x-desktop.jpg 1x, ./img/img/2x-desktop.jpg 2x" media="(min-width: 1280px)">
        <source srcset="./img/img/1x-tablet.jpg 1x, ./img/img/2x-tablet.jpg 2x" media="(min-width: 768px)">
        <source srcset="./img/img/1x-mobile.jpg 1x, ./img/img/2x-mobile.jpg 2x" media="(max-width: 767px)">
        <img class="contacts-img" src="./img/img/1x-tablet.jpg" width="704" height="556" alt="Clock on a rock">
      </picture>
    </div>
  </div>
</section>