<!-- /*———————Footer———————*/ -->
<footer class="section-footer" id="scrolldown">
  <div class="container footer-container">
    <div class="social-wrapper">
      <div class="container-tablet-social">
        <div class="footer-social-media">
          <a class="footer-logo" href="#">watchcharm</a>
          <ul class="footer-social-list">
            <li class="footer-social-item">
              <a
                href="https://www.facebook.com/goITclub/"
                class="footer-social-link"
                target="_blank"
              >
                <svg class="footer-social-icon" width="18" height="18">
                  <use href="./img/icons.svg.svg#icon-project-facebook"></use>
                </svg>
              </a>
            </li>
            <li class="footer-social-item">
              <a
                href="https://www.instagram.com/goitclub/"
                class="footer-social-link"
                target="_blank"
              >
                <svg class="footer-social-icon" width="18" height="18">
                  <use href="./img/icons.svg.svg#icon-project-instagram"></use>
                </svg>
              </a>
            </li>
            <li class="footer-social-item">
              <a
                href="https://www.youtube.com/c/GoIT"
                class="footer-social-link"
                target="_blank"
              >
                <svg class="footer-social-icon" width="18" height="18">
                  <use href="./img/icons.svg.svg#icon-project-youtube"></use>
                </svg>
              </a>
            </li>
          </ul>
        </div>
        <div class="footer-tel-wrap">
          <a href="tel:380684439426" class="footer-tel">+380 (68) 443-94-26</a>
        </div>
      </div>
      <div class="description-wrapper">
        <p class="footer-description">
          Have the time of your life with our watches: where high-class
          craftsmanship meets impeccable design
        </p>
      </div>
      <div class="footer-tel-wrap-desctop footer-tel-wrap">
        <a href="tel:380684439426" class="footer-tel">+380 (68) 443-94-26</a>
      </div>
    </div>
    <div class="information-container">
      <div class="footer-menu-wrapper">
        <ul class="menu-list">
          <li class="menu-item">
            <a href="#home" class="menu-link">Home</a>
          </li>
          <li class="menu-item">
            <a href="#abaut-us" class="menu-link">About Us</a>
          </li>
          <li class="menu-item">
            <a href="#catalog" class="menu-link">Catalog</a>
          </li>
          <li class="menu-item">
            <a href="#sale" class="menu-link">Sale</a>
          </li>
          <li class="menu-item">
            <a href="#revievs" class="menu-link">Reviews </a>
          </li>
          <li class="menu-item">
            <a href="#contactus" class="menu-link">Contact Us</a>
          </li>
        </ul>
        <div class="footer-address-wrapper">
          <p class="address-name">
            1678 S. Pioneer Road Salt Lake City UT 84104
          </p>
        </div>
      </div>
      <svg class="footer-linie-icon">
        <use href="./img/icons.svg.svg#round"></use>
      </svg>
      <div class="information">
        <p class="information-text">
          ©2024 The Watch Spot. All rights reserved.
        </p>
        <div class="information-link">
          <ul class="information-ul-list">
            <li class="information-item">
              <a href="" class="information-link-text">Terms of Service</a>
            </li>
            <li class="information-item">
              <a href="" class="information-link-text"> Privacy Policy</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</footer>
