<section class="wrapper sticky-header">
  <div class="container header-container">
    <div class="header-logo-wrap">
      <a class="header-logo" href="./index.html">watchcharm</a>
    </div>

    <nav class="header-nav">
      <ul class="header-menu-list">
        <li class="header-menu-item">
          <a class="header-menu-link current" href="">Home</a>
        </li>
        <li class="header-menu-item">
          <a class="header-menu-link text-menu" href="#about-us">About Us</a>
        </li>
        <li class="header-menu-item">
          <a class="header-menu-link" href="#catalog">Catalog</a>
        </li>
        <li class="header-menu-item">
          <a class="header-menu-link" href="#sale">Sale</a>
        </li>
        <li class="header-menu-item">
          <a class="header-menu-link" href="#reviews">Reviews</a>
        </li>
        <li class="header-menu-item text">
          <a class="header-menu-link" href="#contacts-us">Contact Us</a>
        </li>
      </ul>
    </nav>

    <ul class="menu-icon-list">
      <li class="menu-icon-item">
        <a class="menu-icon-link" href="https://www.facebook.com/goITclub/" target="_blank">
          <svg class="menu-icon" width="20" height="20">
            <use href="./img/header.svg#icon-facebook"></use>
          </svg>
        </a>
      </li>
      <li class="menu-icon-item">
        <a class="menu-icon-link" href="https://www.instagram.com/goitclub/" target="_blank">
          <svg class="menu-icon" width="20" height="20">
            <use href="./img/header.svg#icon-instagram"></use>
          </svg>
        </a>
      </li>
      <li class="menu-icon-item">
        <a class="menu-icon-link" href="https://www.youtube.com/c/GoIT" target="_blank">
          <svg class="menu-icon" width="20" height="20">
            <use href="./img/header.svg#icon-youtube"></use>
          </svg>
        </a>
      </li>
    </ul>

    <button type="button" class="menu-btn-phone menu-mobile js-open-menu">
      <svg class="menu-btn-icon-phone">
        <use href="./img/header.svg#icon-btn-menu-phone"></use>
      </svg>
    </button>
  </div>

  <!--------------header menu-------------->
  <div id="myModal" class="header-menu modal-overlay js-menu-container">
    <button type="button" class="menu-btn-close js-close-menu">
      <svg class="menu-btn-svg" width="20" height="20">
        <use href="./img/header.svg#icon-close"></use>
      </svg>
    </button>

    <div class="menu-wrap">
      <nav class="header-nav-phone">
        <ul class="menu-list-phone">
          <li class="header-menu-item-phone">
            <a class="header-menu-link-phone current" href="">Home</a>
          </li>
          <li class="header-menu-item-phone">
            <a class="header-menu-link-phone" href="#about-us">About Us</a>
          </li>
          <li class="header-menu-item-phone">
            <a class="header-menu-link-phone" href="#catalog">Catalog</a>
          </li>
          <li class="header-menu-item-phone">
            <a class="header-menu-link-phone" href="#sale">Sale</a>
          </li>
          <li class="header-menu-item-phone">
            <a class="header-menu-link-phone" href="#reviews">Reviews</a>
          </li>
          <li class="header-menu-item-phone">
            <a class="header-menu-link-phone" href="#contact-us">Contact Us</a>
          </li>
        </ul>
      </nav>

      <div class="menu-icon-wrap">
        <ul class="menu-icon-list-phone">
          <li class="menu-icon-item-phone">
            <a class="menu-icon-link-phone" href="https://www.facebook.com/goITclub/" target="_blank">
              <svg class="menu-icon-phone" width="18" height="18">
                <use href="./img/header.svg#icon-facebook"></use>
              </svg>
            </a>
          </li>

          <li class="menu-icon-item-phone">
            <a class="menu-icon-link-phone" href="https://www.instagram.com/goitclub/" target="_blank">
              <svg class="menu-icon-phone" width="18" height="18">
                <use href="./img/header.svg#icon-instagram"></use>
              </svg>
            </a>
          </li>

          <li class="menu-icon-item-phone">
            <a class="menu-icon-link-phone" href="https://www.youtube.com/c/GoIT" target="_blank">
              <svg class="menu-icon-phone" width="18" height="18">
                <use href="./img/header.svg#icon-youtube"></use>
              </svg>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
<script src="./js/exit.js" type="module"></script>
<script src="./js/sticky-header.js" type="module"></script>