    <section class="hero">
        <div class="container">
          <div class="hero-main">
                <div class="wrap-text">
                    <h1 class="hero-title">Welcome to our <span class="hero-title-span">collection</span> of premium watches</h1>
                    <p class="hero-text">Our watches are not just timepieces, but also an expression of your personality and lifestyle. From classic designs to modern ones, we have a watch to suit every taste and occasion.</p>
                </div>
                
               
                <div class="hero-wrap-links"> 
                    <a class="hero-link-to-reviews" href="#reviews">
                    <img srcset="./img/hero-img/people.jpg 1x, ./img/hero-img/people-2x.jpg 2x"
                      src="./img/hero-img/people.jpg "  alt="three human" class="hero-people-image" ></a>
                    <a class="hero-link-to-footer" href="#footer">Scroll down</a>
                </div> 
          </div>

             <picture>
                <source media="(min-width: 1280px)" srcset="./img/hero-img/hero-image-dt.jpg 1x, ./img/hero-img/hero-image-dt-2x.jpg 2x">
                <source media="(min-width: 768px)" srcset="./img/hero-img/hero-image-tab.jpg 1x, ./img/hero-img/hero-image-tab-2x.jpg 2x">
                <source  media="(max-width: 375px)" srcset="./img/hero-img/hero-image-mob.jpg 1x, ./img/hero-img/hero-image-mob-2x.jpg 2x">
                <img src="./img/hero-img/hero-image-dt.jpg" alt="grey watches" class="hero-main-img">
            </picture>
            
              </picture>
        </div>
    </section>