<section class="reviews">
    <div class="container">
        <h2 class="reviews-lable">Reviews</h2>
        <ul class="reviews-list">
            <li class="reviews-list-item">
                <img srcset="
                      ../img/previews/jon_1x.png 1x,
                      ../img/previews/jon_2x.png 2x
                    " src="../img/previews/jon_1x.png" width="56" alt="John" />

                <h3>John Wax</h3>
                <p>Buying a watch from was the best choice for me. The design is perfectly combined with high quality
                    materials. The strap
                    fits nicely on the hand, and the mechanism works flawlessly.</p>
            </li>
            <li class="reviews-list-item reviews-list-mob-hid">
                <img srcset="                                  ../img/previews/victoria_1x.png 1x,
                                      ../img/previews/victoria_2x.png 2x
                                    " src="../img/previews/jon_1x.png" width="56" alt="Victoria" />
                <h3>Victoria Romashenko</h3>
                <p>Can't take my eyes off my watch from. Every time I put it on, it is admired by those around me. The
                    build quality and
                    attention to detail make it a real gem among my accessories.</p>
            </li>
            <li class="reviews-list-item reviews-list-tablet-hid ">
                <img srcset="
                     ../img/previews/anastasia_1x.png 1x,
                  ../img/previews/anastasia_2x.png 2x
                    " src="../img/previews/jon_1x.png" width="56" alt="Anastasia" />
                <h3>Anastasia Trachuk</h3>
                <p>My watch from is a real masterpiece. Every detail impresses with the high quality of execution.
                    Special features like
                    [specify features] make it an indispensable companion in my daily life.</p>
            </li>
        </ul>
    </div>
</section>