<section class="section-sale" id="sale">
  <div class="container sale-container">
    <h2 class="section-title">Sale</h2>
    <div class="sale-wrap">
      <div class="sale-photos">
        <div class="sale-mini-img">
          <ul class="sale-img-list">
            <li class="sale-img-item">
              <picture>
                <source
                  srcset="
                    ./img/sale-img/sale-desktab1.png    1x,
                    ./img/sale-img/sale-desktab1-2x.png 2x
                  "
                  media="(min-width: 1280px)"
                />
                <source
                  srcset="
                    ./img/sale-img/sale-desktab1.png    1x,
                    ./img/sale-img/sale-desktab1-2x.png 2x
                  "
                  media="(min-width: 768px)"
                />
                <source
                  srcset="
                    ./img/sale-img/sale-mobile1.png    1x,
                    ./img/sale-img/sale-mobile1-2x.png 2x
                  "
                  media="(max-width: 767px)"
                />
                <img
                  class=""
                  src="./img/sale-img/sale-desktab1.png"
                  width="96"
                  height="100"
                  alt="watch image"
                />
              </picture>
            </li>
            <li class="sale-img-item">
              <picture>
                <source
                  srcset="
                    ./img/sale-img/sale-desktab2.png    1x,
                    ./img/sale-img/sale-desktab2-2x.png 2x
                  "
                  media="(min-width: 1280px)"
                />
                <source
                  srcset="
                    ./img/sale-img/sale-desktab2.png    1x,
                    ./img/sale-img/sale-desktab2-2x.png 2x
                  "
                  media="(min-width: 768px)"
                />
                <source
                  srcset="
                    ./img/sale-img/sale-mobile2.png    1x,
                    ./img/sale-img/sale-mobile2-2x.png 2x
                  "
                  media="(max-width: 767px)"
                />
                <img
                  class=""
                  src="./img/sale-img/sale-desktab2.png"
                  width="96"
                  height="100"
                  alt="watch image"
                />
              </picture>
            </li>
            <li class="sale-img-item">
              <picture>
                <source
                  srcset="
                    ./img/sale-img/sale-desktab3.png    1x,
                    ./img/sale-img/sale-desktab3-2x.png 2x
                  "
                  media="(min-width: 1280px)"
                />
                <source
                  srcset="
                    ./img/sale-img/sale-desktab3.png    1x,
                    ./img/sale-img/sale-desktab3-2x.png 2x
                  "
                  media="(min-width: 768px)"
                />
                <source
                  srcset="
                    ./img/sale-img/sale-mobile3.png    1x,
                    ./img/sale-img/sale-mobile3-2x.png 2x
                  "
                  media="(max-width: 767px)"
                />
                <img
                  class=""
                  src="./img/sale-img/sale-desktab3.png"
                  width="96"
                  height="100"
                  alt="watch image"
                />
              </picture>
            </li>
            <li class="sale-img-item">
              <picture>
                <source
                  srcset="
                    ./img/sale-img/sale-desktab4.png    1x,
                    ./img/sale-img/sale-desktab4-2x.png 2x
                  "
                  media="(min-width: 1280px)"
                />
                <source
                  srcset="
                    ./img/sale-img/sale-desktab4.png    1x,
                    ./img/sale-img/sale-desktab4-2x.png 2x
                  "
                  media="(min-width: 768px)"
                />
                <source
                  srcset="
                    ./img/sale-img/sale-mobile4.png    1x,
                    ./img/sale-img/sale-mobile4-2x.png 2x
                  "
                  media="(max-width: 767px)"
                />
                <img
                  class=""
                  src="./img/sale-img/sale-desktab4.png"
                  width="96"
                  height="100"
                  alt="watch image"
                />
              </picture>
            </li>
          </ul>
        </div>
        <div class="sale-main-img">
          <picture>
            <source
              srcset="
                ./img/sale-img/SALE-desktop.png    1x,
                ./img/sale-img/SALE-desktop-2x.png 2x
              "
              media="(min-width: 1280px)"
            />
            <source
              srcset="
                ./img/sale-img/SALE-desktop.png    1x,
                ./img/sale-img/SALE-desktop-2x.png 2x
              "
              media="(min-width: 768px)"
            />
            <source
              srcset="
                ./img/sale-img/SALE-mobile.png    1x,
                ./img/sale-img/SALE-mobile-2x.png 2x
              "
              media="(max-width: 767px)"
            />
            <img
              class="main-img"
              src="./img/sale-img/SALE-desktop.png"
              width="328"
              height="398"
              alt="watch image"
            />
          </picture>
        </div>
      </div>
      <div class="sale-description">
        <h3 class="sale-subtitle">MARQ® Commander (Gen 2) - Carbon Edition</h3>
        <p class="sale-tag">Product tag: 706587</p>
        <div class="prizes">
          <p class="sale-prize-new">€1500</p>
          <p class="sale-prize">€3000</p>
        </div>
        <p class="sale-text">
          The Garmin MARQ Commander Gen 2 Carbon Edition is a modern smartwatch
          for adventurers that takes materials and features to the next level.
          The body of the watch is made of very durable Fused Carbon Fiber
          material and has a precise AMOLED touch screen. The sensitive touch
          screen is complemented by buttons that can be used in any conditions.
        </p>
        <ul class="sale-list">
          <li class="sale-item"><a class="sale-link">Fused carbon fiber</a></li>
          <li class="sale-item"><a class="sale-link">Grade-5 Titanium</a></li>
          <li class="sale-item"><a class="sale-link">Athlete</a></li>
          <li class="sale-item"><a class="sale-link">Golfer</a></li>
          <li class="sale-item"><a class="sale-link">Commander</a></li>
          <li class="sale-item"><a class="sale-link">Adventurer</a></li>
        </ul>
      </div>
    </div>
  </div>
</section>
