.about-section {
  margin-bottom: 60px;
}

.about-wrap {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  align-content: center;
  flex-direction: column;
  gap: 20px;
}

.about-all_text {
  border-radius: 30px;
  background: #f3f3f3;
  padding-top: 40px;
  padding-bottom: 40px;
  padding-left: 20px;
  padding-right: 20px;
}

.about-title {
  color: #0c0c0c;
  font-size: 32px;
  font-weight: 600;
  line-height: 32px;
  letter-spacing: -0.64px;
  margin-bottom: 28px;
}

.about-paragraph {
  color: rgba(12, 12, 12, 0.7);
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 18px;
  letter-spacing: -0.28px;
}

.about-list-item:first-child {
  margin-bottom: 20px;
}

.about-list-item:last-child {
  margin-bottom: 40px;
}

.about-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 16px;
  width: 160px;
  height: 48px;
  background-color: #3350e9;
  border: none;

  font-weight: 500;
  font-size: 14px;
  line-height: 1.29;
  text-align: center;
  color: #fbfbfb;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.about-btn:hover,
.about-btn:focus {
  background-color: #1f3cd4;
}

.about-img {
  border-radius: 30px;
  background-image: linear-gradient(
      0deg,
      rgba(26, 14, 14, 0.2) 0%,
      rgba(12, 12, 12, 0.2) 100%
    ),
    url(/img/about-us/about-mob);
}
.about-picture img {
  height: 100%;
}

/* -----------------------------  FOR TABLET ----------------------------- */

@media screen and (min-width: 768px) {
  .about-wrap {
    gap: 40px;
  }

  .about-all_text {
    border-radius: 50px;
    padding-top: 80px;
    padding-bottom: 80px;
    padding-left: 60px;
    padding-right: 60px;
  }

  .about-title {
    margin-bottom: 40px;
    font-size: 48px;
    line-height: 44px;
    letter-spacing: -0.96px;
  }

  .about-paragraph {
    /* font-size: 16px;
    line-height: 1.25; */

    color: rgba(12, 12, 12, 0.7);

    /* Desktop_tablet/Main text */
    font-family: Gilroy;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px;
    /* 125% */
    letter-spacing: -0.32px;
  }

  .about-list-item:last-child {
    margin-bottom: 60px;
  }

  .about-img {
    width: 100%;
    border-radius: 50px;
    background-image: linear-gradient(
        0deg,
        rgba(12, 12, 12, 0.2) 0%,
        rgba(12, 12, 12, 0.2) 100%
      ),
      url(/img/about-us/about-tab);
  }
}

/* -----------------------------  FOR COMPUTER ----------------------------- */
@media screen and (min-width: 1280px) {
  .about-wrap {
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 40px;
  }

  .about-all_text {
    border-radius: 50px;
    padding-top: 80px;
    padding-bottom: 80px;
    padding-left: 60px;
    padding-right: 60px;
  }

  .about-title {
    font-size: 48px;
    line-height: 0.92;
    margin-bottom: 40px;
    line-height: 44px;
    letter-spacing: -0.96px;
  }

  .about-paragraph {
    font-size: 16px;
    line-height: 1.25;
  }

  .about-list {
    width: 460px;
  }

  .about-list-item:last-child {
    margin-bottom: 40px;
  }

  .about-img {
    border-radius: 50px;
    background-image: linear-gradient(
        0deg,
        rgba(12, 12, 12, 0.2) 0%,
        rgba(12, 12, 12, 0.2) 100%
      ),
      url(/img/about-us/about);
  }
}
