.adv-con {
  border-radius: 30px;
  background-image: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0.7),
      rgba(0, 0, 0, 0.7)
    ),
    url(../img/advertisement/adv-mob1x.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding: 60px 28px;
  margin-bottom: 100px;
}

@media screen and (min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
  .adv-con {
    background-image: linear-gradient(
        to bottom,
        rgba(0, 0, 0, 0.7),
        rgba(0, 0, 0, 0.7)
      ),
      url(../img/advertisement/adv-mob2x.jpg);
  }
}

@media screen and (min-width: 768px) {
  .adv-con {
    padding: 80px 64px;
    max-width: 768px;
    background-image: linear-gradient(
        to bottom,
        rgba(0, 0, 0, 0.7),
        rgba(0, 0, 0, 0.7)
      ),
      url(../img/advertisement/adv-tab1x.jpg);
  }
}

@media screen and (min-device-pixel-ratio: 2) and (min-width: 768px),
  (min-resolution: 192dpi) and (min-width: 768px) {
  .adv-con {
    background-image: linear-gradient(
        to bottom,
        rgba(0, 0, 0, 0.7),
        rgba(0, 0, 0, 0.7)
      ),
      url(../img/advertisement/adv-tab2x.jpg);
  }
}

@media screen and (min-width: 1280px) {
  .adv-con {
    display: flex;
    gap: 140px;
    padding: 83px 80px;
    max-width: 1280px;
    background-image: linear-gradient(
        to bottom,
        rgba(0, 0, 0, 0.7),
        rgba(0, 0, 0, 0.7)
      ),
      url(../img/advertisement/adv-desk1x.jpg);
  }
}

@media screen and (min-device-pixel-ratio: 2) and (min-width: 1158px),
  (min-resolution: 192dpi) and (min-width: 1280px) {
  .adv-con {
    background-image: linear-gradient(
        to bottom,
        rgba(0, 0, 0, 0.7),
        rgba(0, 0, 0, 0.7)
      ),
      url(../img/advertisement/adv-desk2x.jpg);
  }
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.adv-text {
  font-weight: 600;
  font-size: 32px;
  line-height: 1;
  letter-spacing: -0.02em;
  color: #fbfbfb;
  margin-bottom: 28px;
  text-align: left;
  max-width: 279px;
  min-height: 167px;
}

@media screen and (min-width: 768px) {
  .adv-text {
    font-size: 48px;
    line-height: 0.92;
    margin-bottom: 32px;
    max-width: 576px;
    min-height: 185px;
  }
}

@media screen and (min-width: 1280px) {
  .adv-text {
    max-width: 690px;
    min-height: 132px;
    margin-bottom: 0;
    padding-top: 0;
  }
}

.adv-text-color {
  color: rgba(251, 251, 251, 0.5);
}

.adv-contact {
  display: inline-block;
}

.adv-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 160px;
  height: 48px;
  border: 1px solid rgba(251, 251, 251, 0.15);
  border-radius: 16px;
  background-color: transparent;
  cursor: pointer;
  margin-left: 8px;
}

.adv-btn:focus,
.adv-btn:hover {
  border-color: #fbfbfb;
}

@media screen and (min-width: 768px) {
  .adv-btn {
  }
}

@media screen and (min-width: 1280px) {
  .adv-btn {
    margin-left: 0;
    padding: 0;
  }
}

.adv-btn-text {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.28571;
  text-align: center;
  color: #fbfbfb;
}
