/* Стилі для мобільних пристроїв */

.hero .container {
  margin-bottom: 60px;
  margin-top: 60px;
}

.hero-main {
  display: flex;
  flex-direction: column;
  gap: 28px;
  margin-bottom: 28px;
}

.wrap-text {
  width: 335px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.hero-title {
  font-weight: 600;
  font-size: 40px;
  line-height: 95%;
  letter-spacing: -0.02em;
  color: #0c0c0c;
}

.hero-title-span {
  color: #3350e9;
}

.hero-text {
  font-weight: 500;
  font-size: 14px;
  line-height: 129%;
  letter-spacing: -0.02em;
  color: rgba(12, 12, 12, 0.7);
}

.hero-wrap-links {
  width: 100%;
  /* height: 44px; */
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  flex-direction: row;
  /* gap: 155px; */
}

.hero-people-image {
  width: 108px;
  height: 44px;
}

.hero-link-to-footer {
  font-weight: 500;
  font-size: 14px;
  letter-spacing: -0.02em;
  text-decoration: underline;
  text-decoration-skip-ink: none;
  color: #0c0c0c;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero-link-to-footer:hover,
.hero-link-to-footer:focus {
  color: #3350e9;
}

.hero-main-img {
  border-radius: 30px;
  width: 100%;
  height: auto;
}

/* Адаптивна верстка від 375px і більше */
@media screen and (min-width: 375px) {
  .wrap-text {
    width: 335px;
  }

  .hero-main-img {
    width: 335px;
  }
}

/* Стилі для планшетів */
@media screen and (min-width: 768px) {
  .hero .container {
    margin-top: 80px;
    margin-bottom: 80px;
  }

  .hero-main {
    display: flex;
    flex-direction: row;
    gap: 11px;
    width: 704px;
    margin-bottom: 40px;
  }

  .wrap-text {
    width: 557px;
    height: 260px;
  }

  .hero-title {
    font-size: 70px;
    line-height: 86%;
    width: 100%;
  }

  .hero-text {
    font-size: 16px;
    line-height: 125%;
  }

  .hero-wrap-links {
    display: flex;
    flex-direction: column;
    gap: 180px;
    width: 136px;
    height: 260px;
  }

  .hero-people-image {
    width: 136px;
    height: 60px;
  }

  .hero-link-to-footer {
    font-size: 20px;
  }

  .hero-main-img {
    border-radius: 50px;
    width: 704px;
    height: 520px;
  }
}

/* Стилі для настільних комп'ютерів */
@media screen and (min-width: 1280px) {

  .hero .container {
    padding-bottom: 20px;
  }

  .hero-main {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: row;
    gap: 407px;
    width: 1150px;
    height: 269px;
  }

  .wrap-text {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    gap: 20px;
    width: 597px;
    height: 269px;
  }

  .hero-title {
    font-size: 72px;
    line-height: 87%;
  }

  .hero-text {
    width: 597px;
  }

  .hero-wrap-links {
    gap: 189px;
    width: 146px;
    height: 269px;
  }

  .hero-people-image {
    width: 146px;
    height: 60px;
  }

  .hero-link-to-footer {
    font-size: 20px;
  }

  .hero-main-img {
    border-radius: 50px;
    width: 1150px;
    height: 500px;
  }

  .kenburns-top {
    -webkit-animation: kenburns-top 5s ease-in both;
    animation: kenburns-top 5s ease-in both;
  }
}