.section-sale {
}

.section-title {
  font-weight: 600;
  font-size: 32px;
  line-height: 1;
  letter-spacing: -0.02em;
  color: #0c0c0c;
  margin-bottom: 24px;
}
.sale-photos {
  margin-bottom: 20px;
}

.sale-mini-img {
  margin-bottom: 20px;
}

.sale-img-list {
  display: flex;
  flex-direction: row;
  gap: 5px;
  justify-content: center;
  margin-bottom: 20px;
}

.sale-img-item {
  border: 1px solid rgba(12, 12, 12, 0.05);
  border-radius: 16px;
  background-color: #f3f3f3;
  padding: 13px 14px;
}

.sale-main-img {
  border: 1px solid rgba(12, 12, 12, 0.05);
  border-radius: 30px;
  background-color: #f3f3f3;
  padding: 50px;
  width: 235px;
  height: 285px;
}

.sale-description {
  border-radius: 30px;
  background-color: #3350e9;
  padding: 48px 28px;
  max-width: 335px;
  margin-bottom: 60px;
}

.sale-subtitle {
  font-weight: 600;
  font-size: 24px;
  line-height: 1.16;
  letter-spacing: -0.02em;
  color: #fbfbfb;
  margin-bottom: 10px;
}

.sale-tag {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.28;
  letter-spacing: -0.02em;
  color: rgba(251, 251, 251, 0.5);
  margin-bottom: 20px;
}

.sale-prize {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: -0.02em;
  text-decoration: line-through;
  color: rgba(251, 251, 251, 0.5);
}

.prizes {
  display: flex;
  gap: 9px;
  align-items: baseline;
}

.sale-prize-new {
  border-radius: 8px;
  max-width: 68px;
  background-color: rgba(251, 251, 251, 0.1);
  padding: 8px 12px;
  font-weight: 600;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: -0.02em;
  color: #fbfbfb;
  margin-bottom: 28px;
}

.sale-text {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.28;
  letter-spacing: -0.02em;
  color: rgba(251, 251, 251, 0.7);
  margin-bottom: 28px;
}

.sale-list {
  display: flex;
  flex-wrap: wrap;
  align-items: baseline;
  gap: 8px;
}

.sale-item {
  border: 1px solid rgba(251, 251, 251, 0.2);
  border-radius: 8px;
  padding: 8px 12px;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.34;
  color: #fbfbfb;
  border: 1px solid rgba(251, 251, 251, 0.2);
  border-radius: 8px;
  padding: 8px 12px;
}

.sale-link {
}

/*-------------------------TABLET--------------------------*/

@media screen and (min-width: 768px) {
  .section-sale {
    margin-bottom: 80px;
  }

  .section-title {
    font-size: 48px;
    line-height: 0.91;
  }

  .sale-photos {
    display: flex;
    gap: 20px;
  }

  .sale-mini-img {
  }

  .sale-img-list {
    flex-direction: column;
    gap: 10px;
  }

  .sale-img-item {
    border-radius: 20px;
    padding: 16px 18px;
  }

  .sale-main-img {
    padding: 80px 112px;
  }

  .main-img {
    width: 100%;
  }

  .sale-description {
    max-width: 704px;
    padding: 60px;
  }

  .sale-subtitle {
    font-size: 32px;
    line-height: 1.12;
  }

  .sale-tag {
  }

  .sale-prize {
  }

  .prizes {
  }

  .sale-prize-new {
    font-size: 20px;
    line-height: 1;
    max-width: 78px;
    margin-bottom: 30px;
  }

  .sale-text {
    font-size: 16px;
    line-height: 1.25;
    margin-bottom: 40px;
  }

  .sale-list {
    max-width: 398px;
  }

  .sale-item {
    font-size: 14px;
    line-height: 1.28;
  }

  .sale-link {
  }
}

/*-------------------------DESKTOP--------------------------*/

@media screen and (min-width: 1280px) {
  .section-sale {
    margin-bottom: 100px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
  }

  .section-title {
  }

  .sale-photos {
  }

  .sale-mini-img {
  }

  .sale-img-list {
  }

  .sale-img-item {
  }

  .sale-main-img {
    padding: 80px 50px;
  }

  .main-img {
  }

  .sale-description {
  }

  .sale-subtitle {
  }

  .sale-tag {
  }

  .sale-prize {
  }

  .prizes {
  }

  .sale-prize-new {
  }

  .sale-text {
  }

  .sale-list {
  }

  .sale-item {
  }

  .sale-link {
  }
}
